@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(227, 96%, 54%);
  --foreground: hsl(0, 0%, 100%);
  --muted: hsl(227, 96%, 50%);
  --muted-foreground: hsl(0, 0%, 85%);
  --popover: hsl(227, 96%, 54%);
  --popover-foreground: hsl(0, 0%, 100%);
  --card: hsl(227, 96%, 54%);
  --card-foreground: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 100%);
  --input: hsl(227, 96%, 48%);
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(227, 96%, 54%);
  --secondary: hsl(180, 69%, 59%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --accent: hsl(180, 69%, 59%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --ring: hsl(0, 0%, 100%);
  --radius: 0.5rem;
  --surface: hsl(227, 96%, 50%);
  --dark: hsl(227, 96%, 54%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-dark text-foreground overflow-hidden;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .border-3 {
    border-width: 3px;
  }
  
  .snap-y {
    scroll-snap-type: y mandatory;
  }
  
  .snap-start {
    scroll-snap-align: start;
  }
  
  .bg-surface {
    background-color: var(--surface);
  }
  
  .bg-dark {
    background-color: var(--dark);
  }
}
